<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie linen"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie linen" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie linen" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9 linen" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js linen" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Agent Profile</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- For all browsers -->
	<link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/colors.css?v=1">
	<link rel="stylesheet" media="print" href="{{MEDIA_URL}}css/print.css?v=1">
	<!-- For progressively larger displays -->
	<link rel="stylesheet" media="only all and (min-width: 480px)" href="{{MEDIA_URL}}css/480.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 768px)" href="{{MEDIA_URL}}css/768.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 992px)" href="{{MEDIA_URL}}css/992.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{MEDIA_URL}}css/1200.css?v=1">
	<!-- For Retina displays -->
	<link rel="stylesheet" media="only al and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{MEDIA_URL}}css/2x.css?v=1">

	<!-- Additional styles -->
	<link rel="stylesheet" href="{{MEDIA_URL}}css/styles/form.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/styles/switches.css?v=1">

	<!-- jQuery Form Validation -->
	<link rel="stylesheet" href="{{MEDIA_URL}}js/libs/formValidator/developr.validationEngine.css?v=1">

	<!-- JavaScript at bottom except for Modernizr -->
	<script src="{{MEDIA_URL}}js/libs/modernizr.custom.js"></script>

	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.ico">
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}img/favicons/apple-touch-icon.png">

	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">

	<!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
</head>

<body class="full-page-wizard">
	<form method="post" action="{% url agent_profile %}" name="frm" id="frm"  class="block wizard same-height">{% csrf_token %}
    <input type="hidden" value="{{parameter}}" name="reseller" />
		<h3 class="block-title">Agent Profile</h3>
	{% for x in agent %}
		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Name </legend>

				<div class="field-block">
					<h4>Hello!</h4>
				</div>
	
				<div class="field-block button-height">
					<label for="first_name" class="label"><b>Name</b></label>
					<input type="text" name="name" id="name" value="{{x.name}}" class="input validate[required]">
				</div>
	
				<div class="field-block button-height">
					<label for="last_name" class="label"><b>Title</b></label>
					<input type="text" name="contactTitle" id="contactTitle" value="{{x.contactTitle}}" class="input validate[required]">
				</div>


                                <div class="field-block button-height">
                                        <label for="last_name" class="label"><b>Contect Address</b></label>
                                        <input type="text" name="contactAddress" id="contactAddress" value="{{x.contactAddress}}" class="input validate[required]">
                                </div>

                                <div class="field-block button-height">
                                        <label for="last_name" class="label"><b>City</b></label>
                                        <input type="text" name="contactCity" id="contactCity" value="{{x.contactCity}}" class="input validate[required]">
                                </div>



                                <div class="field-block button-height">
                                        <label for="last_name" class="label"><b>State</b></label>
                                        <input type="text" name="contactState" id="contactState" value="{{x.contactState}}" class="input validate[required]">
                                </div>



                                <div class="field-block button-height">
                                        <label for="last_name" class="label"><b>Zip Code</b></label>
                                        <input type="text" name="contactZIPCode" id="contactZIPCode" value="{{x.contactZIPCode}}" class="input">
                                </div>




                                <div class="field-block button-height">
                                        <label for="last_name" class="label"><b>Country </b></label>
                                        <input type="text" name="contactCountry" id="contactCountry" value="{{x.contactCountry}}" class="input validate[required]">
                                </div>

			</div>

		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Phone And email</legend>
				<div class="field-block button-height">
					<label for="login" class="label"><b>ContactEmail</b></label>
					<input type="text" name="ContactEmail1" id="ContactEmail1" value="{{x.ContactEmail1}}" class="input">
				</div>

                                <div class="field-block button-height">
                                        <label for="login" class="label"><b>ContactEmail2</b></label>
                                        <input type="text" name="ContactEmail2" id="ContactEmail2" value="{{x.ContactEmail2}}" class="input">
                                </div>

                                <div class="field-block button-height">
                                        <label for="login" class="label"><b>Primary Phone</b></label>
                                        <input type="text" name="contactPhone1" id="contactPhone1" value="{{x.contactPhone1}}" class="input validate[required]">
                                </div>

                                <div class="field-block button-height">
                                        <label for="login" class="label"><b>Phone 2</b></label>
                                        <input type="text" name="contactPhone2" id="contactPhone2" value="{{x.contactPhone2}}" class="input validate[required]">
                                </div>
<!--
                                <div class="field-block button-height">
                                        <label for="login" class="label"><b>Contact Phone 3</b></label>
                                        <input type="text" name="contactPhone3" id="contactPhone3" value="{{x.contactPhone3}}" class="input validate[required]">
                                </div>
-->

                                <div class="field-block button-height">
                                        <label for="login" class="label"><b>Mobile</b></label>
                                        <input type="text" name="contactMobile" id="contactMobile" value="{{x.contactMobile}}" class="input validate[required]">
                                </div>

		</fieldset>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Some More</legend>

			<div class="field-block button-height">
				<label for="mail" class="label"><b>Customer Information</b></label>
				<input type="text" name="customInfo" id="groupn" value="{{x.customInfo}}" class="input validate[required]">
			</div>

			<div class="field-block button-height">
				<label for="mobile" class="label"><b>readyToAcceptCalls</b></label>
				<input type="text"  name="readyToAcceptCalls" id="readyToAcceptCalls" value="{{x.readyToAcceptCalls}}" class="input">
			</div>

                        <div class="field-block button-height">
                                <label for="mobile" class="label"><b>Group Name</b></label>
                                <input type="text" name="groupName" id="groupName" value="{{x.groupName}}" class="input validate[required]">
                        </div>
			<div style="float: right; margin: 40px 0px 0px;">
				<input type="submit" onclick="return IsEmpty();"   class="button" value="Submit" id=""/>
			</div>
		 
	</fieldset>

	{% endfor %}
	</form>
	<!-- Scripts -->
	<script src="{{MEDIA_URL}}js/libs/jquery-1.8.2.min.js"></script>
	<script src="{{MEDIA_URL}}js/setup.js"></script>
	<!-- Template functions -->
	<script src="{{MEDIA_URL}}js/developr.input.js"></script>
	<script src="{{MEDIA_URL}}js/developr.message.js"></script>
	<script src="{{MEDIA_URL}}js/developr.notify.js"></script>
	<script src="{{MEDIA_URL}}js/developr.scroll.js"></script>
	<script src="{{MEDIA_URL}}js/developr.tooltip.js"></script>
	<script src="{{MEDIA_URL}}js/developr.wizard.js"></script>

	<!-- jQuery Form Validation -->
	<script src="{{MEDIA_URL}}js/libs/formValidator/jquery.validationEngine.js?v=1"></script>
	<script src="{{MEDIA_URL}}js/libs/formValidator/languages/jquery.validationEngine-en.js?v=1"></script>

	<script>

		$(document).ready(function()
		{
				// Elements
			var form = $('.wizard'),

				// If layout is centered
				centered;

			// Handle resizing (mostly for debugging)
			function handleWizardResize()
			{
				centerWizard(false);
			};

			// Register and first call
			$(window).bind('normalized-resize', handleWizardResize);

			/*
			 * Center function
			 * @param boolean animate whether or not to animate the position change
			 * @return void
			 */
			function centerWizard(animate)
			{
				form[animate ? 'animate' : 'css']({ marginTop: Math.max(0, Math.round(($.template.viewportHeight-30-form.outerHeight())/2))+'px' });
			};

			// Initial vertical adjust
			centerWizard(false);

			// Refresh position on change step
			form.on('wizardchange', function() { centerWizard(true); });

			// Validation
			if ($.validationEngine)
			{
				form.validationEngine();
			}
		});

	</script>

<script>
$(document).ready(function() {
 $("#readyToAcceptCalls").keydown(function(event) {
  // Allow: backspace, delete, tab, escape, and enter
  if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
  // Allow: Ctrl+A
   (event.keyCode == 65 && event.ctrlKey === true) ||
  // Allow: home, end, left, right
   (event.keyCode >= 35 && event.keyCode <= 39)) {
  // let it happen, don't do anything
  return;
  }
  else {
   // Ensure that it is a number and stop the keypress
   if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
     event.preventDefault();
    }
   }
  });
});



function validNumber(elem){
    var regex = /^[+-]?\d+(\.\d+)?([eE][+-]?\d+)?$/;
    var value = elem.val();
    return regex.test(value);
}

$("#frm").submit(function() {
    if(validNumber($('#readyToAcceptCalls'))){
        return true; // form is submitted
    }else{

	alert('Please enter 0 or 1 in Readytoaccept call field ');
        return false; // form is stopped from being submitted
    }
});










function IsEmpty(){
  if(document.forms['frm'].readyToAcceptCalls.value == "")
  {
    alert("Please select a value for readyto Accept call ");
    return false;
  }
    return true;
}



</script>




</body>
</html>

