	<section id="menu" role="complementary">

		<!-- This wrapper is used by several responsive layouts -->
		<div id="menu-content">

			<header>
				User
			</header>

			<div id="profile">

				Hello
				{% for x in agent %}
				<span class="name">{{x.name}}</b></span>
			</div>

			<!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
			<ul id="access" class="children-tooltip">
				<li><a href="{% url agent_profile %}" onclick="openIframe('1')" title="Profile"><span class="icon-user"></span></a></li>
				<li><a href="{% url agent_logout %}" title="Logout"><span class="icon-undo"></span></a></li>
			</ul>

<!--
			<ul class="unstyled-list">
				<li class="title-menu">Last Login </li>
				<li>
					<ul class="calendar-menu">
						<li>
							<a href="#" title="See event">
								<time datetime="2011-02-24"><b>24</b> Feb</time>
								<small class="green">10:30</small>
								Event's description
							</a>
						</li>
					</ul>
				</li>
			</ul>	
-->


			<ul class="unstyled-list">
				<li class="title-menu">My Service Number </li>
				<li>
					<ul class="calendar-menu">
						<li>
							<a href="#" title="See event">
								<small class="green">{{x.contactPhone1}}</small>
							</a>
						</li>
					</ul>
				</li>
			</ul>	
			{% endfor %}

		</div>
		<!-- End content wrapper -->


	</section>
