	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		
		<li {% if dashboard %} class="current" {% endif %}><a href="{% url agent_report %}" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
		
		
	</ul>
