<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie linen"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie linen" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie linen" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9 linen" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js linen" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Subscriber Profile</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- For all browsers -->
	<link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/colors.css?v=1">
	<link rel="stylesheet" media="print" href="{{MEDIA_URL}}css/print.css?v=1">
	<!-- For progressively larger displays -->
	<link rel="stylesheet" media="only all and (min-width: 480px)" href="{{MEDIA_URL}}css/480.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 768px)" href="{{MEDIA_URL}}css/768.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 992px)" href="{{MEDIA_URL}}css/992.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{MEDIA_URL}}css/1200.css?v=1">
	<!-- For Retina displays -->
	<link rel="stylesheet" media="only al and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{MEDIA_URL}}css/2x.css?v=1">

	<!-- Additional styles -->
	<link rel="stylesheet" href="{{MEDIA_URL}}css/styles/form.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/styles/switches.css?v=1">

	<!-- jQuery Form Validation -->
	<link rel="stylesheet" href="{{MEDIA_URL}}js/libs/formValidator/developr.validationEngine.css?v=1">

	<!-- JavaScript at bottom except for Modernizr -->
	<script src="{{MEDIA_URL}}js/libs/modernizr.custom.js"></script>

	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.ico">
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}img/favicons/apple-touch-icon.png">

	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">

	<!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
</head>

<body class="full-page-wizard">


	<form method="post" action="{% url subscriber_edit  %}" class="block wizard same-height">{% csrf_token %}
   {% for x in subscriber %}
    <input type="hidden" value="{{parameter}}" name="reseller" />
		<h3 class="block-title">Edit Subscriber </h3>

		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Name </legend>

				<div class="field-block">
					<h4>Hello!</h4>
					<p>Please update your data :</p>
				</div>
	
				<div class="field-block button-height">
					<label for="first_name" class="label"><b>First name</b></label>
					<input type="text" name="first_name" id="first_name" value="{{x.contactFirstName}}" class="input validate[required]">
				</div>
                                <div class="field-block button-height">
                                        <label for="first_name" class="label"><b>Middle  name</b></label>
                                        <input type="text" name="contactMiddleName" id="contactMiddleName" value="{{x.contactMiddleName }}" class="input"/>
                                </div>



	
				<div class="field-block button-height">
					<label for="last_name" class="label"><b>Last name</b></label>
					<input type="text" name="last_name" id="last_name" value="{{x.contactLastName}}" class="input validate[required]">
				</div>

			</div>

		</fieldset>
		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Login details</legend>
				<div class="field-block button-height">
					<small class="input-info">This is the name that will be displayed on profile page</small>
					<label for="login" class="label"><b>User Name</b></label>
					<input type="text" name="username" id="login" {% if x.userName   %} value="{{x.userName}}" {% endif %} class="input validate[required]">
				</div>



                                <div class="field-block button-height">
                                        <label for="login" class="label"><b>First Email</b></label>
                                        <input type="text" name="contactEmailAddress" id="login" {% if x.contactEmailAddress   %} value="{{x.contactEmailAddress}}" {% endif %} class="input" />
                                </div>

                        <div class="field-block button-height">
                                <label for="mobile" class="label"><b>Mobile Phone</b></label>
                                <input type="text" name="contactMobile1" id="mobile" value="{{x.contactMobile1}}" class="input">
                        </div>





		</fieldset>
		<fieldset class="wizard-fieldset fields-list">

			<legend class="legend">Service Configuration</legend>

			<!--<div class="field-block button-height">
			 <label for="mail" class="label"><b>Group name</b></label>
			 --><input type="hidden" name="groupName" id="mobile" value="{{x.groupName}}" class="input">
<!--
			</div>
-->

                        <div class="field-block button-height">
                                <label for="mobile" class="label"><b>Published Email</b></label>
                                <input type="text" name="publishedEmailAddress" id="mobile"{% if publishedEmailAddress %} value="{{x.publishedEmailAddress1}}" {% endif %} class="input">
                        </div>
                        <div class="field-block button-height">
                                <label for="mobile" class="label"><b>Published SMS Number</b></label>
                                <input type="text" name="publishedSMSNumber" id="mobile" {% if x.publishedSMSNumber %} value="{{x.publishedSMSNumber}}" {% endif %} class="input">
                        </div>

                        <div class="field-block button-height">
                                <label for="mobile" class="label"><b>Published Phone </b></label>
				<select  name="publishedPhoneNumber" class="select">
					<option value="+918033203700">+91 80 3320 3700</option>
					<option value="+918033203701">+91 80 3320 3701</option>
					<option value="+918033203702">+91 80 3320 3702</option>


				</select>
                       </div>









			<div style="float: right; margin: 40px 0px 0px;">
				<input type="submit"  class="button" value="Submit" id=""/>
			</div>
		 
	</fieldset>

{% endfor %}
	</form>

	<!-- Scripts -->
	<script src="{{MEDIA_URL}}js/libs/jquery-1.8.2.min.js"></script>
	<script src="{{MEDIA_URL}}js/setup.js"></script>
	<!-- Template functions -->
	<script src="{{MEDIA_URL}}js/developr.input.js"></script>
	<script src="{{MEDIA_URL}}js/developr.message.js"></script>
	<script src="{{MEDIA_URL}}js/developr.notify.js"></script>
	<script src="{{MEDIA_URL}}js/developr.scroll.js"></script>
	<script src="{{MEDIA_URL}}js/developr.tooltip.js"></script>
	<script src="{{MEDIA_URL}}js/developr.wizard.js"></script>

	<!-- jQuery Form Validation -->
	<script src="{{MEDIA_URL}}js/libs/formValidator/jquery.validationEngine.js?v=1"></script>
	<script src="{{MEDIA_URL}}js/libs/formValidator/languages/jquery.validationEngine-en.js?v=1"></script>

	<script>

		$(document).ready(function()
		{
				// Elements
			var form = $('.wizard'),

				// If layout is centered
				centered;

			// Handle resizing (mostly for debugging)
			function handleWizardResize()
			{
				centerWizard(false);
			};

			// Register and first call
			$(window).bind('normalized-resize', handleWizardResize);

			/*
			 * Center function
			 * @param boolean animate whether or not to animate the position change
			 * @return void
			 */
			function centerWizard(animate)
			{
				form[animate ? 'animate' : 'css']({ marginTop: Math.max(0, Math.round(($.template.viewportHeight-30-form.outerHeight())/2))+'px' });
			};

			// Initial vertical adjust
			centerWizard(false);

			// Refresh position on change step
			form.on('wizardchange', function() { centerWizard(true); });

			// Validation
			if ($.validationEngine)
			{
				form.validationEngine();
			}
		});

	</script>

</body>
</html>

