<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>

<link rel="stylesheet" href="css/reset.css?v=1">
        <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css?v=1">
        <link rel="stylesheet" href="{{MEDIA_URL}}css/colors.css?v=1">
        <link rel="stylesheet" media="print" href="{{MEDIA_URL}}css/print.css?v=1">
        <!-- For progressively larger displays -->

        <link rel="stylesheet" media="only all and (min-width: 768px)" href="{{MEDIA_URL}}css/768.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 992px)" href="{{MEDIA_URL}}css/992.css?v=1">
        <link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{MEDIA_URL}}css/1200.css?v=1">
        <!-- For Retina displays -->
        <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), on$

        <!-- Webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

        <!-- Additional styles -->
        <link rel="stylesheet" href="{{MEDIA_URL}}css/styles/form.css?v=1">
        <link rel="stylesheet" href="{{MEDIA_URL}}css/styles/switches.css?v=1">
        <link rel="stylesheet" href="{{MEDIA_URL}}css/styles/calendars.css?v=1">

        <!-- glDatePicker -->
        <link rel="stylesheet" href="{{MEDIA_URL}}js/libs/glDatePicker/developr.css?v=1">

        <!-- JavaScript at bottom except for Modernizr -->
        <script src="{{MEDIA_URL}}js/libs/modernizr.custom.js"></script>


        <!-- JavaScript at bottom except for Modernizr -->
 <script src="{{MEDIA_URL}}js/libs/modernizr.custom.js"></script>

        <!-- For Modern Browsers -->
        <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.png">
        <!-- For everything else -->
        <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.ico">
        <!-- For retina screens -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-retina.png">
        <!-- For iPad 1-->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-ipad.png">
        <!-- For iPhone 3G, iPod Touch and Android -->
        <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}img/favicons/apple-touch-icon.png">

        <!-- iOS web-app metas -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device$
        <link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-$
        <link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/iphone.png" media="screen and (max-device-width: 320px)">









 
 
 
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Subscriber Home</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- For all browsers -->
    <link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css?v=1">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css?v=1">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/colors.css?v=1">
    <link rel="stylesheet" media="print" href="{{MEDIA_URL}}css/print.css?v=1">
    <!-- For progressively larger displays -->
    <link rel="stylesheet" media="only all and (min-width: 480px)" href="{{MEDIA_URL}}css/480.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 768px)" href="{{MEDIA_URL}}css/768.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 992px)" href="{{MEDIA_URL}}css/992.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{MEDIA_URL}}css/1200.css?v=1">
    <!-- For Retina displays -->
    <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{MEDIA_URL}}css/2x.css?v=1">

    <!-- Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- Additional styles -->
    <link rel="stylesheet" href="{{MEDIA_URL}}css/styles/form.css?v=1">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/styles/switches.css?v=1">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/styles/table.css?v=1">

    <!-- DataTables -->
    <link rel="stylesheet" href="{{MEDIA_URL}}js/libs/DataTables/jquery.dataTables.css?v=1">

    <!-- JavaScript at bottom except for Modernizr -->
    <script src="{{MEDIA_URL}}js/libs/modernizr.custom.js"></script>

    <!-- For Modern Browsers -->
    <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.ico">
    <!-- For retina screens -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-retina.png">
    <!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-ipad.png">
    <!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}img/favicons/apple-touch-icon.png">

    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- Microsoft clear type rendering -->
    <meta http-equiv="cleartype" content="on">
</head>

<body class="clearfix with-menu with-shortcuts  menu-hidden">




    <!-- Prompt IE 6 users to install Chrome Frame -->
    <!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <!-- Title bar -->
    



    <!-- Button to open/hide menu -->
    
    <section role="main" id="main">

        <noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>
<hgroup class="thin" id="main-title" style="margin: 0px 0px -16px;">

<div class="table-header button-height"> <div style="font-weight: bold; text-shadow: 4px 4px 8px pink; margin-left: 330px;">Prospect requests for  subscriber:   <span><?php echo  $_SESSION['name']; ?></span></div>
<ul style="margin: -33px 13px -23px 72px;">
<a href="withoutfilter.php"><img width="" height="" class="with-tooltip"  title="Home" alt="User" src="img/fineFiles/96/sys.png" style="width:30px;height: 25px"></a>&nbsp;
<a href="downloadcsv.php"><img width="" height="" class="with-tooltip" title="Download as CSV" alt="User" src="img/fineFiles/96/ttf.png" style="width:30px;height: 25px"></a>&nbsp;
<img width="" height="" style="height: 25px; width: 30px;" src="img/fineFiles/96/pdf.png" alt="User name" class="disabled with-tooltip" title="This feature is currently disabled">&nbsp;
<a href = ""><img height="" title="This feature is currently disabled" class="disabled with-tooltip"  alt="User name" src="img/fineFiles/96/xsl.png" style="height: 25px;"></a>&nbsp;
<a href="email.php"><img height="" class="with-tooltip" title="Email Me" alt="User" src="img/fineFiles/128/_close.png" style="width: 30px; height: 25px;"></a>&nbsp;
<div id="som">
<a style="color: PowderBlue; margin: -39px 0px 0px;" class="float-right"><b><?php echo $_SESSION['name']; ?></b></a> 
<a class="float-right" id="hide" style="display:none;color: PowderBlue; z-index: -10; margin: -10px 24px 0px;" href="?q=logout" title="Logout"><b>Logout</b></a>
</div>
</ul>

<fieldset class="fieldset" style="padding: 0px 0px 17px 6px;">
  <legend class="legend" >Filter:</legend>

                <div class="float-left">
                                    <div class="right-column">
            <form action ="filterdate.php" method="POST"> 
              
 
      
              <p class="button-height responsive-table" style="">
                <!-- mine<fieldset style="padding: 42px 153px 5px 19px;" class="fieldset">
                 style="padding: 42px 153px 5px 25px;" <layer style="border-style: ridge; width="" border="1px" bgcolor="#3399ff" height="50px" left="">-->
              
                Start Date:
                                <span class="input">
                                    <span class="icon-calendar"></span>
                                    <?php
				    $start_date = $_SESSION['start_date'];
				    $end_date = $_SESSION['end_date'];
				    $start_date =  date("d-F-Y",strtotime($start_date));
				    $end_date =  date("d-F-Y",strtotime($end_date));
				    if($start_date == '01-January-1970'){
					$start_date = '';
				    }
                                    if($end_date == '01-January-1970'){
				           $end_date = '';
				    }?>
				    <input type="text" placeholder="Select Start Date" value="<?php echo $start_date; ?>" readonly   name="datepicker1" id="datepicker" class="input-unstyled datepicker" value="">
                  
                              
                                </span>&nbsp;
                                End Date:
                                <span class="input">
                                    <span class="icon-calendar"></span>
                                    <input type="text" name="datepicker2" value="<?php echo $end_date; ?>"  placeholder="Select End Date" readonly  id="datepicker2" class="input-unstyled datepicker" value="">
                                </span>

 &nbsp;&nbsp;Agent&nbsp;
                                          <?php
 $hi = $user->get_vendor($uid);
?>
               <select id="extensionid"  name ="extensionid" class="select blue-gradient glossy">
       <?php
echo "<option value='0'>All</option>";
foreach ($hi as $key => $value) {
?>
                     <option value="<?php
    echo $key;
?>" <?php  if($key == $_SESSION['extensionid']){?> selected <?php }?> ><?php
    echo $value;
?></option>
                <?php
}
?>
               </select>
&nbsp;&nbsp;
         <input type="Submit" class="button" value="Submit" id="sbmt" /></p></layer>
        </form>
         </fieldset>
        </div>
    </hgroup>

        <div class="with-padding">

                

            
            <table class="table responsive-table" id="sorting-advanced">

                <thead>
                    <tr>
                         <th scope="col" class="hide-on-tablet">Status</th>
                        <th scope="col" class="hide-on-tablet">Initiated By</th>
                         <th scope="col" class="align-center hide-on-mobile-portrait">Date</th>
                        <th scope="col" class="align-center hide-on-mobile-portrait">Agent Name</th>
                        <th scope="col" class="align-center hide-on-mobile">Product Code</th>
                         <th scope="col" class="align-center hide-on-mobile-portrait">Prospect Name</th>
                        <th scope="col" class="align-center hide-on-mobile">Prospect Email</th>
                        <th scope="col" class="hide-on-tablet">Prospect Number</th>
                
                        <th class="hideANDseek" style="display:none !important;"class="align-center hide-on-mobile" scope="col">Title</th>
                        <th  class="hideANDseek" style="display:none !important;" scope="col" class="align-center hide-on-mobile">Company</th>
                        <th  class="hideANDseek" style="display:none !important;"  scope="col" class="hide-on-tablet">Message</th>
                        <th   class="hideANDseek" style="display:none !important;" scope="col" class="hide-on-tablet">Track Id</th>
                        
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <td colspan="13">
                            
                        </td>
                    </tr>
                </tfoot>

                
                <tbody id="loadhere">


        <?php
 $ary =json_decode($user->get_detail($uid,"",""),true);
foreach ($ary as $list) {
    echo "<tr>";
    $i = 0;
    foreach ($list as $key => &$sv) {
        if ($i < 8) {
            echo "<td>";
        } else {
            echo "<td class='hideANDseek' style='display:none !important;'>";
        }
        $i++;
        if ($key == 'status') {
            if ($sv == 'New') {
                echo "<small class='tag'>";
                echo $sv;
                echo "</small>";
            } elseif ($sv == 'In progress') {
                echo "<small class='tag'>";
                echo "In progress";
                echo "</small>";
            } else {
                echo "<small class='tag green-bg'>";
                echo $sv;
                echo "</small>";
            }
        } elseif ($key == 'initiated_by') {
            if ($sv == 'SMS') {
                echo "<small class='tag'>";
                echo $sv;
                echo "</small>";
            } else {
                echo "<small class='tag orange-bg'>";
                echo $sv;
                echo "</small>";
            }
        } else {
            print $sv;
        }
        echo "</td>";
    }
    echo "</tr>";
}
?>
                </tbody>

 </tbody>
 </table>
        <!-- End content wrapper -->

        <!-- This is optional -->
        <footer id="menu-footer">
            <p class="button-height">
                
            </p>
        </footer>

    </section>
    <!--  Commented by shweta 
    <section role="complementary" id="menu" class="custom-scroll" style="height: 200px;">

        <!-- This wrapper is used by several responsive layouts -->
        <!--<div id="menu-content">

            <header>
                Agent
            </header>

            <div id="profile">
                <img src="img/user.png" width="64" height="64" alt="User name" class="user-icon">
                Hello
                <span class="name" style="font-size:0.8em;"><? //php echo  $_SESSION['name']; 
?></b></span>
            </div>

            <!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
            <!-- <ul id="access" class="children-tooltip">
                <li><a href="?q=logout" title="Logout"><span class="icon-cross"></span></a></li>
            </ul>

            


        <!--  </div>    </section> shweta-->
    
    <!-- End sidebar/drop-down menu -->

    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Scripts -->
    <script src="{{MEDIA_URL}}js/libs/jquery-1.8.2.min.js"></script>
    <script src="{{MEDIA_URL}}js/setup.js"></script>

    <!-- Template functions -->
    <script src="{{MEDIA_URL}}js/developr.input.js"></script>
    <script src="{{MEDIA_URL}}js/developr.navigable.js"></script>
    <script src="{{MEDIA_URL}}js/developr.notify.js"></script>
    <script src="{{MEDIA_URL}}js/developr.scroll.js"></script>
    <script src="{{MEDIA_URL}}js/developr.tooltip.js"></script>
    <script src="{{MEDIA_URL}}js/developr.table.js"></script>
<script src="{{MEDIA_URL}}js/developr.calendar.js"></script>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
 <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <!-- Plugins -->
    <script src="{{MEDIA_URL}}js/libs/jquery.tablesorter.min.js"></script>
    <script src="{{MEDIA_URL}}js/libs/DataTables/jquery.dataTables.min.js"></script>

    <script>

        // Call template init (optional, but faster if called manually)
        $.template.init();

        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({
            'aoColumnDefs': [
                { 'bSortable': false, 'aTargets': [ 0 ] }
            ],
            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function( oSettings )
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });

        // Table sort - styled
        $('#sorting-advanced').tablesorter({
            headers: {
                150: { sorter: false },
                
            }
        }).on('click', 'tbody td', function(event)
        {
            // Do not process if something else has been clicked
            if (event.target !== this)
            {
                return;
            }


//var date = $(this).closest('tr').find('td:eq(9)').text(); // for first column
var trackid = $(this).closest('tr').find('td:eq(11)').text(); // for third column
var message = $(this).closest('tr').find('td:eq(10)').text(); // for third column

var title = $(this).closest('tr').find('td:eq(8)').text(); // for third column
var company = $(this).closest('tr').find('td:eq(9)').text(); // for third column



            var tr = $(this).parent(),
                row = tr.next('.row-drop'),
                rows;

            // If click on a special row
            if (tr.hasClass('row-drop'))
            {
                return;
            }

            // If there is already a special row
            if (row.length > 0)
            {
                // Un-style row
                tr.children().removeClass('anthracite-gradient glossy');

                // Remove row
                row.remove();

                return;
            }

            // Remove existing special rows
            rows = tr.siblings('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');

                // Remove rows
                rows.remove();
            }

            // Style row
            tr.children().addClass('anthracite-gradient glossy');

            // Add fake row
          $('<tr class="row-drop">'+
                    '<td colspan="'+tr.children().length+'">'+
                         '<div class="float-right">'+
                           '<button type="submit" class="button glossy mid-margin-right with-tooltip" title="This feature is currently not available ">'+
                            '<span class="button-icon"><span class="icon-mail"></span></span>'+
                            'Send mail'+
                        '</button>'+
                        '<button type="submit" class="button glossy with-tooltip" title="This feature is currently disabled">'+
                            '<span class="button-icon green-gradient"><span class="icon-phone"></span></span>'+
                            'Call Now'+
                        '</button>'+
                        '</div>'+
          '<div class="float-left">'+
      //              '<strong>Prospect Name:&nbsp;&nbsp;</strong><span style="color:white;">'+date+'</span><br>'+
                    '<strong>Prospect Title:&nbsp;&nbsp;</strong>'+title+'<br>'+
                    '<strong>Prospect Company:&nbsp;&nbsp;</strong>'+company+'<br>'+

                    '<strong>Track id:&nbsp;&nbsp;</strong>'+ trackid +'<br>'+

                    '<strong>Message:&nbsp;&nbsp;</strong>'+message+'<br>'+


                '</td>'+

            '</tr>').insertAfter(tr);

        }).on('sortStart', function()
        {
            var rows = $(this).find('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');

                // Remove rows
                rows.remove();
            }
        });

        // Table sort - simple
        $('#sorting-example2').tablesorter({
            headers: {
                0: { sorter: false }
            }
        });

    </script>
    
    <!-- glDatePicker -->
    <script src="js/libs/glDatePicker/glDatePicker.min.js?v=1"></script>

    <script>

        // Call template init (optional, but faster if called manually)
        $.template.init();

        // Date picker
       // $('.datepicker').glDatePicker({ 
            zIndex: 100 ,




         //   });


$('.datepicker').datepicker({
                        dateFormat: "d-M-yy" 
                        });
$('#datepicker2').datepicker({
    			dateFormat: "d-M-yy"
        		});

        // Inline date picker
        $('#inline-datepicker').glDatePicker({
            showAlways: true,
            position: 'inherit'
        });

    </script>

<script>

                          $("#som").mouseover(function() {
                              $('#hide').show();
                              });
                         $("#som").mouseout(function(){
                        $('#hide').hide();
                         });

</script>

</body>
</html>
