<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">

<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">





<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Print Settings</title>

</head>
<body style="width: 1000px; margin: 44px 0px 0px 193px; font-family:font-family: 'Droid Sans', Georgia, Times, serif;">
<div  style="width"500px; >
<div style="width:450px; float:left;  font-family: 'Droid Sans', Georgia, Times, serif;">
	<table width="450">
  <tr>   <th style="color:#004189;" scope="col">My Team</th>
  </tr>
   {% for cc in extensions %}

  <tr>

    <td>{{cc.name}}</td>
   
   <td>{{cc.ContactPhone1}}<td>
  </tr>
{% endfor %}
</table>

</div>



<div style="width:450px; float:right;  font-family: 'Droid Sans', Georgia, Times, serif;">
	<table width="450" >
  <tr>

    <th style="color:#004189;" scope="col">My Products</th>

  </tr>
  {% for x in products %}
  <tr>

    <td>{{x.name}}</td>

  </tr>
{% endfor %}
</table>

</div>

</div>


<div  style="width:500px;" >

<div style="width:450px; float:left;  font-family: 'Droid Sans', Georgia, Times, serif;">

	<table width="450" >

  <tr>

    <th style="color:#004189;" scope="col">My Published Numbers</th>

  </tr>
	{% for c in subscribername %}
  <tr>

    <td>Published Phone Number : {{c.publishedPhoneNumber}}</td>

  </tr>
  <tr>

    <td>Published SMS Number :{{c.publishedSMSNumber}} </td>

  </tr>

  <tr>

    <td>Published SMS Number :{{c.publishedEmailAddress}}</td>

  </tr>
{% endfor %}
</table>

</div>





<div style="width:450px; float:right;  font-family: 'Droid Sans', Georgia, Times, serif;">

<table width="450" style="float: left; margin: -93px 44px 0px 456px;">
  <tr>

    <th style="color:#004189;" scope="col">My Contact Details</th>

  </tr>
 {% for c in subscribername %}
  <tr>

    <td>Contact Phone Primary : {{c.contactPhone1}}</td>

  </tr>

  <tr>

    <td>Secondary Contact :{{c.contactPhone2}}</td>

  </tr>

{% endfor %}
</table>

</div>
</div>


<div style="float: right; margin: 128px 11px 0px 0px;">

<p style="background-color: rgb(0, 65, 137); font-size: 22px; padding: 3px 12px 4px 13px; border-radius: 4px 4px 4px 4px;"><a style="text-decoration:none; color:#fff;"href="javascript:window.print()"> Print </a></p>

</div>







<style>

	h1 {

    font-family: 'Droid Sans', Georgia, Times, serif;

    font-size: 49px;

    line-height: 65px;

}

 

p {

    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;

    font-size: 14px;

    line-height: 25px;

}

</style>
</body>
</html>
