<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>



<link rel="stylesheet" href="style.css" type="text/css"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prospects Subsciber ID</title>
</head>
<body>
<div id="main">
	<h2> Call Details  Report <!--For Subscriber {{x.subscriber}} --></h2>
<table width="1024" border="1">
  <tr>
    <th scope="col">Status</th>
    <th scope="col">Date</th>
    <th scope="col">Prospects Contact</th>
    <th scope="col">Product Code</th>
    <th scope="col">Initiated By</th>
    <th scope="col">Agent</th>
   <!-- <th scope="col">Prospects Name</th>-->
    <th scope="col">Message</th>
    <th scope="col">Track ID</th>
    <th scope="col">E-mail Address</th>
  </tr>

  <tr>
                                        {% for x in hi %}
                                             <tr>
                                               <td>{{x.conferenceStatus}}</td>
                                               <td>{{x.confStart}}</td>
                                               <td>{{x.prospectNumber}}</td>
                                               <td>{{x.productCode}}</td>
                                               <td>{{x.initiationType}}</td>
                                              <!-- <td>{{x.extensionId}}</td>
                                              --> <td>{{x.name}}</td>
                                               <td>{{x.message}}</td>
					     	<td>{{x.idCall}}</td>
						<td>{{x.prospectEmail}}</td>
					{% endfor %}




  </tr>

</table>
<a href="javascript:window.print()" class="button">Print Report</a>

</div>
</body>

<style>
#main {
	margin: 0 0 0 180px;
    width: 1024px;
	}
.button{

	background-color: blue;

    border-radius: 6px 6px 6px 6px;

    color: #FFFFFF;

    font-size: 20px;

    padding: 1px 9px 4px 13px;

    width: 40px;
}
</style>
</html>

