	<section id="menu" role="complementary">

		<!-- This wrapper is used by several responsive layouts -->
		<div id="menu-content">

			<header>
			</header>

			<div id="profile">
				Hello {{request.session.subscriberId}}
				{% for x in subscribername %}
				<span class="name">{{x.name}}</b></span>
				{% endfor %}
		</div>

			<!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
			<ul id="access" class="children-tooltip">
				<li><a href="/subscriber/edit/?subscriberId={{subscriberId}}" title="Profile"><span class="icon-user"></span></a></li>
				<li><a href="{% url subdcriber_logout %}" title="Logout"><span class="icon-undo"></span></a></li>
				<li><a href="{% url subscriber_print %}" title="Print your settings"><span class="icon-download"></span></a></li>

			</ul>


			<ul class="unstyled-list">
				<li class="title-menu">Last Login </li>
				<li>
					<ul class="calendar-menu">
						<li>
						{% for x in subscribername %}
							<a href="#" title="See event">
								{{x.dateLastLogin}}
							</a>
						{% endfor %}
						</li>
					</ul>
				</li>
			</ul>	


                        <ul class="unstyled-list">
                                <li class="title-menu"> My Service Phone Number </li>
                                <li>
                                        <ul class="calendar-menu">
                                                <li>
							{% for x in subscribername %}
                                                        <a href="#" title="See event">
								{{x.publishedPhoneNumber}}
                                                        </a>
							{% endfor %}
                                                </li>
                                        </ul>
                                </li>
                        </ul>


                        <ul class="unstyled-list">
                                <li class="title-menu">My Service SMS Number </li>
                                <li>
                                        <ul class="calendar-menu">
                                                <li>
							 {% for x in subscribername %}
                                                        <a href="#" title="See event">
								{{x.publishedSMSNumber}}

                                                        </a>
							{% endfor %}
                                                </li>
                                        </ul>
                                </li>
                        </ul>


                        <ul class="unstyled-list">
                                <li class="title-menu">Available Credit </li>
                                <li>
                                        <ul class="calendar-menu">
                                                <li>
							{% for x in subscribername %}
                                                        <a href="#" title="See event">
                                                        {{x.usedCredit}}
							</a>
							{% endfor %}        	
                                        </li>
	
                                        </ul>
                                </li>
                        </ul>




		</div>
		<!-- End content wrapper -->


	</section>
