	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		
		<li {% if dashboard %} class="current" {% endif %}><a href="{% url subdcriber_home %}" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
		<li  {% if report %} class="current" {% endif %}><a href="{% url subscriber_report %}" class="shortcut-messages"  title="Reports">Reports</a></li>
		
		<li  {% if agents %} class="current" {% endif %}><a href="{% url subscriber_agents %}"  class="shortcut-contacts"  title="Agents">Agents</a></li>
		<li {% if product %} class="current" {% endif %} ><a href="{% url subscriber_product %}" class="shortcut-agenda" title="Products">Products</a></li>
		<li {% if toolkit %} class="current" {% endif %}> <a href="{% url subscriber_toolkit %}" class="shortcut-stats" title="Toolkit">Toolkit</a></li>
		
	</ul>
