<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Reseller</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- For all browsers -->
	<link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/colors.css?v=1">
	<link rel="stylesheet" media="print" href="{{MEDIA_URL}}css/print.css?v=1">
	<!-- For progressively larger displays -->
	<link rel="stylesheet" media="only all and (min-width: 480px)" href="{{MEDIA_URL}}css/480.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 768px)" href="{{MEDIA_URL}}css/768.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 992px)" href="{{MEDIA_URL}}css/992.css?v=1">
	<link rel="stylesheet" media="only all and (min-width: 1200px)" href="{{MEDIA_URL}}css/1200.css?v=1">
	<!-- For Retina displays -->
	<link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{MEDIA_URL}}css/2x.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/styles/modal.css?v=1">

	<!-- Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<!-- Additional styles -->
	<link rel="stylesheet" href="{{MEDIA_URL}}css/styles/switches.css?v=1">
	<link rel="stylesheet" href="{{MEDIA_URL}}css/styles/form.css?v=1">
	<!-- JavaScript at bottom except for Modernizr -->
	<script src="{{MEDIA_URL}}js/libs/modernizr.custom.js"></script>
  
  
  <link rel="stylesheet" href="{{MEDIA_URL}}css/styles/table.css?v=1">
	<!-- glDatePicker -->
	<link rel="stylesheet" href="{{MEDIA_URL}}js/libs/glDatePicker/developr.css?v=1">

	<!-- DataTables -->
	<link rel="stylesheet" href="{{MEDIA_URL}}js/libs/DataTables/jquery.dataTables.css?v=1">
	
	
	<script src="{{MEDIA_URL}}js/libs/modernizr.custom.js"></script>
	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="{{MEDIA_URL}}img/favicons/favicon.ico">
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}img/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}img/favicons/apple-touch-icon.png">

	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="{{MEDIA_URL}}img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">
</head>

<body class="clearfix with-menu with-shortcuts">

	<!-- Prompt IE 6 users to install Chrome Frame -->
	<!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<!-- Title bar -->
	<header role="banner" id="title-bar">
		<h2>Talk2Me Provisioning server</h2>
	</header>

	<!-- Button to open/hide menu -->
	<a href="#" id="open-menu"><span>Menu</span></a>

	<!-- Button to open/hide shortcuts -->
	<a href="#" id="open-shortcuts"><span class="icon-thumbs"></span></a>

	<!-- Main content -->
	<section role="main" id="main">

		<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

		<hgroup id="main-title" class="thin">
			<h1>List of Subscribers </h1>
		</hgroup>

		<div class="with-padding">
				<div class="right-column">
					<div class="standard-tabs margin-bottom" id="add-tabs">
						<div class="tabs-content">

							<div id="tab-1" class="with-padding">
								<dl >
								<dd>
								<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>
								<div class="with-padding" style="padding: 0px 0px 0px 0px !important ;">

									<table class="table responsive-table" id="sorting-advanced">
										<thead>
											<tr>
		<th scope="col"><input type="checkbox" width="10%" name="check-all" id="check-all" value="1"></th>
		<th scope="col"  width="20" >Name</th>
		<th scope="col" width="15%" class="align-center hide-on-mobile">Date</th>
		<th scope="col" width="10%" class="align-center hide-on-mobile-portrait">Status</th>
		<th scope="col" width="15%" class="hide-on-tablet">Published Phone</th>
		<th scope="col" width="15" class="align-center">PublishedSMSNumber</th>
 <th scope="col" width="20" class="align-center">Contact Phone</th>
                <th   scope="col" width="15%" class="align-center hide-on-mobile-portrait">Available Credits</th>
			</tr>		
										</thead>
										<tbody>
										{% for x in data %}
											<tr>
												<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
												<td>{{x.Name}}</td>
												<td>{{x.DateCreated}}</td>
												<td>{{x.Status}}</td>
                 										 <td>{{x.PublishedPhoneNumber}}</td>
												 <td><small class="tag">{{xPublishedSMSNumber.}}</small></td>
                                                                                             <td>{{x.ContactPhone1}}</td>
												 <td >{{x.AvailableCredit}}</td>

											</tr>
										{% endfor %}

										</tbody>
									</table>
									</form>
								</div>
								
								</dd>

							</div>
					</section>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</section>
	<!-- Side tabs shortcuts -->
	{% include "reseller/sidebar.html"%}
	<!-- Sidebar/drop-down menu -->
	{% include "reseller/rigthsidebar.html"%}
	<!-- End sidebar/drop-down menu -->
	<!-- JavaScript at the bottom for fast page loading -->
	
	
	
	
	<script src="{{MEDIA_URL}}js/libs/jquery-1.8.2.min.js"></script>
	<script src="{{MEDIA_URL}}js/setup.js"></script>

	<!-- Template functions -->
	<script src="{{MEDIA_URL}}js/developr.input.js"></script>
	<script src="{{MEDIA_URL}}js/developr.navigable.js"></script>
	<script src="{{MEDIA_URL}}js/developr.notify.js"></script>
	<script src="{{MEDIA_URL}}js/developr.scroll.js"></script>
	<script src="{{MEDIA_URL}}js/developr.tooltip.js"></script>
	<script src="{{MEDIA_URL}}js/developr.tabs.js"></script>		<!-- Must be loaded last -->

	<script>

		// Call template init (optional, but faster if called manually)
		$.template.init();

		// Tabs adding/removing
		var tabsAdded = [];

		// Add a tab
		function addTab()
		{
			// New tab id
			var tabId = 'new-tab'+tabsAdded.length;

			// Register tab
			tabsAdded.push(tabId);

			// Create
			$('#add-tabs').addTab(tabId, 'New tab '+tabsAdded.length, 'Content of dynamically added tab');
		};

		// Remove dynamically created tabs
		function removeTabs()
		{
			var tabId;
			while (tabsAdded.length > 0)
			{
				$('#'+tabsAdded.pop()).removeTab();
			}
		};

	</script>
	

	<!-- Template functions -->
	<script src="{{MEDIA_URL}}js/developr.table.js"></script>
	<script src="{{MEDIA_URL}}js/libs/glDatePicker/glDatePicker.min.js?v=1"></script>
	<!-- Plugins -->
	<script src="{{MEDIA_URL}}js/libs/jquery.tablesorter.min.js"></script>
	<script src="{{MEDIA_URL}}js/libs/DataTables/jquery.dataTables.min.js"></script>
   <script src="{{MEDIA_URL}}js/developr.accordions.js"></script>
	<script src="{{MEDIA_URL}}js/developr.modal.js"></script>
	<script>
	$('.datepicker').glDatePicker({ zIndex: 100 });
		// Call template init (optional, but faster if called manually)
		$.template.init();

        // Call template init (optional, but faster if called manually)
        $.template.init();

        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({
            'aoColumnDefs': [
                { 'bSortable': false, 'aTargets': [ 0 ] }
            ],
            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function( oSettings )
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });

        // Table sort - styled
        $('#sorting-advanced').tablesorter({
            headers: {
                150: { sorter: false },
                
            }
        }).on('click', 'tbody td', function(event)
        {
            // Do not process if something else has been clicked
            if (event.target !== this)
            {
                return;
            }
		        var date = $(this).closest('tr').find('td:eq(9)').text(); // for first column
			var trackid = $(this).closest('tr').find('td:eq(7)').text(); // for third column
			var message = $(this).closest('tr').find('td:eq(10)').text(); // for third column
			var title = $(this).closest('tr').find('td:eq(8)').text(); // for third column
			var company = $(this).closest('tr').find('td:eq(6)').text(); // for third column
            var tr = $(this).parent(),
                row = tr.next('.row-drop'),
                rows;

            // If click on a special row
            if (tr.hasClass('row-drop'))
            {
                return;
            }
            // If there is already a special row
            if (row.length > 0)
            {
                // Un-style row
                tr.children().removeClass('anthracite-gradient glossy');

                // Remove row
                row.remove();

                return;
            }

            // Remove existing special rows
            rows = tr.siblings('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');
                // Remove rows
                rows.remove();
            }
            // Style row
            tr.children().addClass('anthracite-gradient glossy');
            // Add fake row
          $('<tr class="row-drop">'+
                    '<td colspan="'+tr.children().length+'">'+
                         '<div class="float-right">'+
                           '<button type="submit" class="button glossy mid-margin-right with-tooltip" title="This feature is currently not available ">'+
                            '<span class="button-icon"><span class="icon-mail"></span></span>'+
                            'Send mail'+
                        '</button>'+
                        '<button type="submit" class="button glossy with-tooltip" title="This feature is currently disabled">'+
                            '<span class="button-icon green-gradient"><span class="icon-phone"></span></span>'+
                            'Call Now'+
                        '</button>'+
                        '</div>'+
          '<div class="float-left">'+
                    '<strong>Prospect Name:&nbsp;&nbsp;</strong><span style="color:white;">Heheh</span><br>'+
                    '<strong>Message :&nbsp;&nbsp;</strong>'+title+'<br>'+
                    '<strong>Email Address :&nbsp;&nbsp;</strong>'+company+'<br>'+

                    '<strong>Track Id:&nbsp;&nbsp;</strong>'+ trackid +'<br>'+



                '</td>'+

            '</tr>').insertAfter(tr);
        }).on('sortStart', function()
        {
            var rows = $(this).find('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');

                // Remove rows
                rows.remove();
            }
        });

        // Table sort - simple
        $('#sorting-example2').tablesorter({
            headers: {
                0: { sorter: false }
            }
        });

    </script>
    	<script>
	$('.datepicker').glDatePicker({ zIndex: 100 });
		// Call template init (optional, but faster if called manually)
		$.template.init();

        // Call template init (optional, but faster if called manually)
        $.template.init();

        // Table sort - DataTables
        var table = $('#sorting-advanced-one');
        table.dataTable({
            'aoColumnDefs': [
                { 'bSortable': false, 'aTargets': [ 0 ] }
            ],
            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function( oSettings )
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });

        // Table sort - styled
        $('#sorting-advanced-one').tablesorter({
            headers: {
                150: { sorter: false },
                
            }
        }).on('click', 'tbody td', function(event)
        {
            // Do not process if something else has been clicked
            if (event.target !== this)
            {
                return;
            }
			//var date = $(this).closest('tr').find('td:eq(9)').text(); // for first column
			var trackid = $(this).closest('tr').find('td:eq(7)').text(); // for third column
			var message = $(this).closest('tr').find('td:eq(10)').text(); // for third column
			var title = $(this).closest('tr').find('td:eq(8)').text(); // for third column
			var company = $(this).closest('tr').find('td:eq(6)').text(); // for third column
            var tr = $(this).parent(),
                row = tr.next('.row-drop'),
                rows;

            // If click on a special row
            if (tr.hasClass('row-drop'))
            {
                return;
            }
            // If there is already a special row
            if (row.length > 0)
            {
                // Un-style row
                tr.children().removeClass('anthracite-gradient glossy');

                // Remove row
                row.remove();

                return;
            }

            // Remove existing special rows
            rows = tr.siblings('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');
                // Remove rows
                rows.remove();
            }
            // Style row
            tr.children().addClass('anthracite-gradient glossy');
            // Add fake row
          $('<tr class="row-drop">'+
                    '<td colspan="'+tr.children().length+'">'+
                         '<div class="float-right">'+
                           '<button type="submit" class="button glossy mid-margin-right with-tooltip" title="This feature is currently not available ">'+
                            '<span class="button-icon"><span class="icon-mail"></span></span>'+
                            'Send mail'+
                        '</button>'+
                        '<button type="submit" class="button glossy with-tooltip" title="This feature is currently disabled">'+
                            '<span class="button-icon green-gradient"><span class="icon-phone"></span></span>'+
                            'Call Now'+
                        '</button>'+
                        '</div>'+
          '<div class="float-left">'+
      //              '<strong>Prospect Name:&nbsp;&nbsp;</strong><span style="color:white;">'+date+'</span><br>'+
                    '<strong>Prospect Title:&nbsp;&nbsp;</strong>'+title+'<br>'+
                    '<strong>Prospect Company:&nbsp;&nbsp;</strong>'+company+'<br>'+

                    '<strong>Track id:&nbsp;&nbsp;</strong>'+ trackid +'<br>'+



                '</td>'+

            '</tr>').insertAfter(tr);

        }).on('sortStart', function()
        {
            var rows = $(this).find('.row-drop');
            if (rows.length > 0)
            {
                // Un-style previous rows
                rows.prev().children().removeClass('anthracite-gradient glossy');

                // Remove rows
                rows.remove();
            }
        });

    </script>
    


	
	
</body>
</html>

