	<section id="menu" role="complementary">

		<!-- This wrapper is used by several responsive layouts -->
		<div id="menu-content">

			<header>
				User
			</header>

			<div id="profile">

				Hello
				<span class="name">{{name}}</b></span>
			</div>

			<!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
			<ul id="access" class="children-tooltip">

				<li><a href="{% url reseller_logout %}" title="Logout"><span class="icon-undo"></span></a></li>
			</ul>


		</div>
		<!-- End content wrapper -->


	</section>
