	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		
		<li class="current" ><a href="{% url reseller_report  %}" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
		
		
	</ul>
