	<section id="menu" role="complementary">

		<!-- This wrapper is used by several responsive layouts -->
		<div id="menu-content">

			<header>
				User
			</header>

			<div id="profile">
				<img src="img/user.png" width="64" height="64" alt="User name" class="user-icon">
				Hello
				<span class="name">John <b>Doe</b></span>
			</div>

			<!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
			<ul id="access" class="children-tooltip">
				<li><a href="{% url subdcriber_home %}" title="Profile"><span class="icon-user"></span></a></li>
				<li><a href="{% url subdcriber_home %}" title="Logout"><span class="icon-undo"></span></a></li>
			</ul>


			<ul class="unstyled-list">
				<li class="title-menu">Last Login </li>
				<li>
					<ul class="calendar-menu">
						<li>
							<a href="#" title="See event">
								<time datetime="2011-02-24"><b>24</b> Feb</time>
								<small class="green">10:30</small>
								Event's description
							</a>
						</li>
					</ul>
				</li>
			</ul>	

			<ul class="unstyled-list">
				<li class="title-menu">My Service Number </li>
				<li>
					<ul class="calendar-menu">
						<li>
							<a href="#" title="See event">
								<time datetime="2011-02-24"><b>21</b> Feb</time>
								<small class="green">+954923895676</small>
							</a>
						</li>
					</ul>
				</li>
			</ul>	


		</div>
		<!-- End content wrapper -->


	</section>