	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		
		<li {% if dashboard %} class="current" {% endif %}><a href="{% url subdcriber_home %}" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
		<li  {% if report %} class="current" {% endif %}><a href="{% url subscriber_report %}" class="shortcut-messages"  title="Reports">Reports</a></li>
		
		<li><a href="inbox.html"  class="shortcut-medias"  title="Agents">Agents</a></li>
		<li><a href="agenda.html" class="shortcut-agenda" title="Products">Products</a></li>
		<li><a href="tables.html" class="shortcut-stats" title="Toolkit">Toolkit</a></li>
		
		<li><a href="sliders.html" class="shortcut-contacts" title="Stats">Stats</a></li>
	<!-- class="at-bottom"<li ><a href="form.html" class="shortcut-contacts" title="Profile">Profile</a></li> -->	
		<li><span class="shortcut-notes" title="Notes">Notes</span></li>
	</ul>
